@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body:after {
  display: block;
  content: " ";
  background: #ddd;
  background-image: url(../img/user-bg.jpg);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  z-index: -1;
}

.panel{
  position: relative;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding:0px;
  overflow: auto;
  padding-bottom: 65px;   
}

.planel{
  position: relative;
}
.title {
  font-size: 2em;
  margin: 15px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}
.points {
  position: absolute;
  top: 25px;
  right: 25px;
}
#new_user{
  padding: 20vh 50px;
}
#new_user input{
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  opacity: 1;
  outline: none;
  background: none;
  padding: 10px;
  font-size: 1.5em;
  width: 100%;
}

#new_user input:first-child{
  margin-bottom: 15px;
}
.keys {
  width: 100%;
  clear: both;
  text-align: center;
  display: table;  
  position: relative;
}
.keys .row > div {
  position: relative;
  max-width: 150px;
  /* height: 150px; */
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(2, 255, 94, 0.47);
  float: left;
  /* border-radius: 50%; */
  display: -ms-flexbox;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  width: 33.33%;
}
.keys polygon,
.keys path {
  fill: #51CA7D;
}

.keys .down{
  margin-left: 33.33%;
}
.keys > .space{
  position: absolute;
  background: #CE5454;
  max-width: 100%;
  padding: 130px;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  display: none;

  font-weight: 900;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  transition: all 1s, display 0s 1s;
}



.keys.off svg {
  opacity: 0.2;
}

.keys.off .row > div,
.keys.paused .row > div{
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.keys.off polygon,
.keys.paused polygon,
.keys.off path,
.keys.paused path {
  fill: rgb(255, 255, 255);
}

.keys.off > .space{
}
.keys.paused > .space{
  display: block;
  opacity: 1
}
.preview {
  margin-bottom: 20px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.07);
  padding: 10px;
  height: 17px;
}
#upcoming { position: absolute; display: block; margin: 0 auto; /*background-color: #E0E0E0;*/ }
@media screen and (min-width:   0px) and (min-height:   0px)  {  #upcoming { width:  50px; height:  50px; }  } /* 10px chunks */
@media screen and (min-width: 400px) and (min-height: 400px)  {  #upcoming { width:  75px; height:  75px; }  } /* 15px chunks */
@media screen and (min-width: 500px) and (min-height: 500px)  {  #upcoming { width: 100px; height: 100px; }  } /* 20px chunks */
@media screen and (min-width: 600px) and (min-height: 600px)  {  #upcoming { width: 125px; height: 125px; }  } /* 25px chunks */
@media screen and (min-width: 700px) and (min-height: 700px)  {  #upcoming { width: 150px; height: 150px; }  } /* 30px chunks */
@media screen and (min-width: 800px) and (min-height: 800px)  {  #upcoming { width: 175px; height: 175px; }  } /* 35px chunks */
@media screen and (min-width: 900px) and (min-height: 900px)  {  #upcoming { width: 200px; height: 200px; }  } /* 40px chunks */

#upcoming {
  width: 100% !important;
  height: 100% !important;
  /* margin: -10px; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hide{
  display: none;
}

.moveLeft{ animation: moveLeft 0.25s;  }
.moveRight{ animation: moveRight 0.25s;  }
.moveDown{ animation: moveDown 0.25s;  }
.rotate{ animation: rotate 0.25s;  }

@keyframes moveLeft {
    0% {left: -10px;}
    100% {left: 0px;}
}
@keyframes moveRight {
    0% {left: 10px;}
    100% {left: 0px;}
}
@keyframes moveDown {
    0% {top: 10px;}
    100% {top: 0px;}
}
@keyframes rotate {
    0% {    transform: rotate( 10deg );}
    100% {  transform: rotate( 0 );}
}