@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--user-color);
  transition: background .2s;
}

.panel{
  position: relative;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding:0px;
  overflow: auto;
  padding-bottom: 65px;   
}

.planel{
  position: relative;
}
.title {
  font-size: 2em;
  margin: 15px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.6);
}
.points {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  opacity: 0.97;
  font-size: 135px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 8.95px;
  text-align: center;
  color: rgba(225, 248, 253, 0.29);
}
#new_user{
  padding: 0 25px;
  z-index: 1;
  position: relative;
  background-color: var(--user-color);
  transition: background .2s;
}
#new_user input{
  border-radius: 3px;
  box-shadow: 0 0 5px 0px rgba(255, 255, 255, 0.27);
  border: solid 2px #ffffff;
  padding: 35px 0;
  color: white;
  opacity: 1;
  outline: none;
  background: none;
  font-size: 1.5em;
  width: 100%;
  margin: 0 0 15px;
}
#new_user input:last-child {
  background-color: white;
  color: var(--user-color);
}
#new_user img {
  display: block;
  margin: 80px auto 80px;
}

.keys {
  width: 100%;
  max-width: 400px;
  clear: both;
  text-align: center;
  display: table;  
  position: relative;
  padding-top: 260px;
  margin: 0 auto;
}
.keys .row {
  padding: 0 6px;
}
.keys .row > div {
  padding: 6px;
  position: relative;
  max-width: 150px;
  text-align: center;
  float: left;
  display: -ms-flexbox;
  box-sizing: border-box;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  width: 33.33%;
}
.keys polygon,
.keys path {
  fill: #51CA7D;
}

.keys .key-down{
  margin-left: 33.33%;
}
.keys > .space{
  position: absolute;
  background: #CE5454;
  max-width: 100%;
  padding: 130px;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  display: none;

  font-weight: 900;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  transition: all 1s, display 0s 1s;
}

.keys img {
  width: 100%;
  background: white;
  border-radius: 5px;
  display: block;
}

.keys.off div > div {
  opacity: .2;
}

.keys.off .row > div,
.keys.paused .row > div{
  opacity: .3;
}

.keys.off polygon,
.keys.paused polygon,
.keys.off path,
.keys.paused path {
  fill: rgb(255, 255, 255);
}

.keys.paused > .space{
  display: block;
  opacity: 1
}
.preview {
  margin-bottom: 20px;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.07);
  padding: 10px;
  height: 17px;
}
#upcoming {
  position: absolute;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 300px;
  height: 300px;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.hide{
  display: none;
}

.moveLeft{ animation: moveLeft 0.25s;  }
.moveRight{ animation: moveRight 0.25s;  }
.moveDown{ animation: moveDown 0.25s;  }
.rotate{ animation: rotate 0.25s;  }

@keyframes moveLeft {
    0% {left: -20px;}
    100% {left: 0px;}
}
@keyframes moveRight {
    0% {left: 20px;}
    100% {left: 0px;}
}
@keyframes moveDown {
    0% {top: 20px;}
    100% {top: 0px;}
}
@keyframes rotate {
    0% {    transform: rotate( 30deg );}
    100% {  transform: rotate( 0 );}
}